* {
    font-family: 'Ubuntu Nerd Font Propo', 'JetBrainsMono Nerd Font Propo';
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#disk,
#temperature,
#network,
#power-profiles-daemon,
#backlight,
#battery,
#clock,
#tray,
#mode,
#mpd,
#privacy-item {
    background-color: transparent;
    color: #ffffff;
    padding: 0 10px;
}
