* {
    font-family: 'Ubuntu Nerd Font', 'JetBrainsMono Nerd Font';
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    border-color: rgba(189, 147, 249, 0.93);
    border-radius: 5px;
    color: #ffffff;
}

#workspaces button.active {
    background-color: rgba(68, 119, 255, 1);
    color: #444444;
    border-radius: 5px;
    font-size: 10px;
}

#workspaces button.focused {
    background-color: rgba(68, 119, 255, 1);
    color: #444444;
    border-radius: 5px;
    font-size: 10px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#disk,
#temperature,
#network,
#power-profiles-daemon,
#backlight,
#battery,
#clock,
#tray {
    background-color: rgba(68, 119, 255, 1);
    color: #444444;
    padding: 0 10px;
    border-radius: 5px;
}

/*#idle_inhibitor:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#network:hover,
#power-profiles-daemon:hover,
#backlight:hover,
#tray:hover {
    background-color: rgba(122, 53, 172, 1);
    border-radius: 5px;
    color: #ffffff;
}

#battery.charging:hover,
#battery.plugged:hover {
    background-color: rgba(122, 53, 172, 1);
    border-radius: 5px;
    color: #ffffff;
}*/

#battery.charging,
#battery.plugged {
    background-color: rgba(68, 119, 255, 1);
    color: #444444;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #444444;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #444444;
    }
}

#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
    background-color: rgba(68, 119, 255, 1);
    color: #444444;
}

#network.disconnected {
    background-color: #f53c3c;
}

/*#tray {
    background-color: rgba(122, 53, 172, 1);
    border-radius: 5px;
    color: #444444;
}*/

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
}

/*#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
} */

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
